 
<!-- <header>
	<div class= "header-content">
		<h1>{{mainHeading}}</h1>
		<h4>Welcome friends</h4>
	</div>

</header> -->

 <!-- <playlist [videos]="videos"></playlist> --> 

<!--  <banner></banner>
 <playlist></playlist> -->


	<div class="sect sectOne">
		<banner></banner>
	</div>

	<div class="subSection">
		<my-skills></my-skills>
	</div>

	<div class="sect sectTwo"></div>

	<div class="subSection">
		<my-projects></my-projects>
	</div>

	<div class="sect sectThree"></div>

	<div class="subSection"></div>
